@{
    ViewData["Title"] = "Juego";
}

<header>
    <nav> 
    <ul>
    <li>Juego</li>
    <li>Home</li>
    <li>Privacy</li>
    </ul>
    </nav>
</header>
<div>
    <h1>Bienvenido al Ahorcado</h1>

    <h3>Adivine la palabra:</h3>
    <p>
       @ViewBag.palabraParcial
    </p>

    @if (ViewBag.Gano != null)
    {
        @ViewBag.Gano
    }

    @if (ViewBag.Perdio != null)
    {
        @ViewBag.Perdio
    }
    


    <p><strong>Intentos realizados:</strong> @(ViewBag.Intentos)</p>

    <h4><strong>Letras usadas:</strong></h4>
    <ul>
        @foreach (var letra in ViewBag.LetrasUsadas)
        {
            <li>@letra</li>
        }
    </ul>

    <h4>Arriesgar letra:</h4>
    <form action="@Url.Action("ArriesgarLetra")" method="post">
        <input type="text" name="letra" maxlength="1" required />
        <input type="submit" value="Arriesgar Letra" />
    </form>

    
    <h4>Arriesgar palabra:</h4>
    <form action="@Url.Action("ArriesgarPalabra")" method="post">
        <input type="text" name="palabra" required />
        <input type="submit" value="Arriesgar Palabra" />
    </form>
</div>

